$link-color: blue;

a {
    color: $link-color;
}

.button,button {
    color: red;
}

.box1, .box2 {
    a {
        color: red;
    }
}

p + .box4 {
    color: green;
}

.box4 {
    ~ div {
        font-weight: 700;
    }
    + .para {
        color: yellow;
    }
}

.bar {
    .nav + & {
        color: pink;
    }
}